<header id="main-header">
  <div id="logo">
    <a href="/">Agrihelper</a>
  </div>
  <nav>
    <ul>
      <li>
        <input type="text" name="search" id="search" class="search" placeholder="Search questions . . .">
      </li>
      <li>
        <a href="/posts">All queries</a>
      </li>
      <li>
        <a href="/new-post">Ask query</a>
      </li>
      <li>
        <a href="/">Logout</a>
      </li>
    </ul>
  </nav>
</header>