<!-- <header id="main-header">
  <div id="logo">
    <a href="/">Agrihelper</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All queries</a>
      </li>
      <li>
        <a href="/new-post">Ask query</a>
      </li>
      <li>
        <a href="/">Logout</a>
      </li>
    </ul>
  </nav>
</header> -->

<nav class="nav navbar navbar-expand-lg">
  <div class="container-fluid me-5 ms-5 mt-2 mb-2">
      <a class="navbar-brand text-white" href="/"><h4><i>AgriHelper</i></h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
        <ul class="navbar-nav  ms-auto me-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/posts">All queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new-post">Ask query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
          </li>
        </ul>
      </div>
      
  </div>
</nav>