<%- include('header'); -%>
<script src="https://kit.fontawesome.com/3417eee6ab.js" crossorigin="anonymous"></script>
<!-- ----- Our Mission ----- -->
<h2 class="title" id="abtTitle">Our Mission</h2>
<div class="line2">
</div>
<div class="about">
    <div>
      <img id="farmer" src="Images/farmphoto.png" alt="">
    </div>
    <div class="abt" id="abtContent">
      <p><span style="font-size: x-large;">W</span>elcome to AgriHelper, your ultimate farming assistant!<br><br>We understand the challenges faced by farmers when it comes to selecting the right fertilizers for their crops and finding reliable agricultural consultants. That's why we've created a web application specifically designed to assist farmers in optimizing their farming practices and increasing productivity.<br><br>

        Our web application offers a simple and user-friendly platform where farmers can <strong>ask questions and seek advice</strong> related to farming. Whether you have concerns about crop cultivation, fertilizer prediction or any other aspect of agriculture, our community of knowledgeable individuals is here to provide scientifically proven solutions and valuable insights.<br><br>
        
        One of the key features of our platform is the <strong>Fertilizer recommendation system</strong>. By leveraging soil nutrient data provided by the farmers, we can suggest the best fertilizers suited to their specific soil conditions. This personalized approach ensures that farmers make informed decisions about fertilizer application, leading to enhanced crop growth and yield.<br><br>
        
        In addition to fertilizer recommendations, we also assist farmers in determining the most suitable crops for their particular soil type. By analyzing soil composition and providing comprehensive information on different crop varieties, Our <strong>Crop recommendation system</strong> empower farmers to make educated choices and maximize their harvest potential.
        <br><br>
        We understand the importance of soil testing in optimizing agricultural practices. That's why we provide ample guidance on how and where farmers can conduct soil testing. We encourage farmers to take advantage of government laboratories that offer soil analysis services, enabling them to gain valuable insights into their soil's nutrient levels and make data-driven decisions for their farms.<br><br>
        
        <strong>Our mission</strong> is to bridge the gap between farmers and the information they need to succeed. By harnessing the power of technology and the collective wisdom of our farming community, we aim to revolutionize farming practices and empower farmers to achieve greater productivity and sustainability.<br><br>
        
        Join our platform today and become part of a supportive farming community that is dedicated to your success. Together, let's cultivate a brighter future for agriculture!
      </p>
    </div>
  </div>

<!-- ----- Our Team ----- -->
<h2 class="title" id="abtTitle">Our Team</h2>
<div class="line2">
</div>
<div class="team">
  <div class="container">
    <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="Images/suraj.jpg" alt="suraj-img">
          </div>
          <div class="team-content">
            <h3 class="name">Suraj Prakash</h3>
            <h4 class="title">Student, VIT Vellore</h4>
          </div>
          <ul class="social">
            <li><a href="mailto:surajprakashhh04@gmail.com" class="fa fa-envelope" aria-hidden="true"></a></li>
            <li><a href="https://github.com/SurajPrakash24" class="fa fa-github" aria-hidden="true"></a></li>
            <li><a href="https://surajprakash-portfolio.onrender.com/" class="fa fa-address-card" aria-hidden="true"></a></li>
            <li><a href="https://www.linkedin.com/in/surajprakash24/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="Images/Rohit.jpg" alt="rohit-img">
          </div>
          <div class="team-content">
            <h3 class="name">Rohit Ranjan</h3>
            <h4 class="title">Student, VIT Vellore</h4>
          </div>
          <ul class="social">
            <li><a href="mailto:rohit192ranjan@gmail.com" class="fa fa-envelope" aria-hidden="true"></a></li>
            <li><a href="https://github.com/rohit192ranjan" class="fa fa-github" aria-hidden="true"></a></li>
            <li><a href="https://rohitranjan.netlify.app/" class="fa fa-address-card" aria-hidden="true"></a></li>
            <li><a href="https://www.linkedin.com/in/rohit192ranjan/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('footer'); -%>