<%- include('header'); -%>

<div class="body">
    <h2>E-learning</h2><hr>
    <div class="options">
        <a href="/elearning" class="op-item" id="all">All</a>
        <a href="/elearning2" class="op-item" id="soil"><u>Soil</u></a>
        <a href="/elearning3" class="op-item" id="fert">Fertilizers</a>
        <a href="/elearning4" class="op-item" id="crop">Crops</a>
        <a href="/elearning5" class="op-item" id="gov">Government schemes</a>
    </div>
    <div class="vid-gallery">
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/nBRoBk12tio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/_L0h1b0Nqp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/hZVhswYdVeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/Mru1ElmG7pg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/b1dIE-BiBw8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/GgCRytvsf-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/WFl_pdAdGrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/2fbpOwFZoaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/quYI2I-CogQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/JN1BeJc3jEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<%- include('footer'); -%>
