<%- include('header'); -%>

<div class="body">
    <h2>E-learning</h2><hr>
    <div class="options">
        <a href="/elearning" class="op-item" id="all">All</a>
        <a href="/elearning2" class="op-item" id="soil">Soil</a>
        <a href="/elearning3" class="op-item" id="fert"><u>Fertilizers</u></a>
        <a href="/elearning4" class="op-item" id="crop">Crops</a>
        <a href="/elearning5" class="op-item" id="gov">Government schemes</a>
    </div>
    <div class="vid-gallery">
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/RhkqQ8Oy8bQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/M4wxhjYbl9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/dcNvp8rLiok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/LQfQauyj1ks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/L81Vb2vG_0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/-3GKRzklINQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/xsWGi7IbsLg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<%- include('footer'); -%>
