<%- include('header'); -%>

<div class="body">
    <h2>E-learning</h2><hr>
    <div class="options">
        <a href="/elearning" class="op-item" id="all">All</a>
        <a href="/elearning2" class="op-item" id="soil">Soil</a>
        <a href="/elearning3" class="op-item" id="fert">Fertilizers</a>
        <a href="/elearning4" class="op-item" id="crop">Crops</a>
        <a href="/elearning5" class="op-item" id="gov"><u>Government schemes</u></a>
    </div>
    <div class="vid-gallery">
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/UWkgJ6C05Ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/RSNfUVS3cJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/iCf05vHR0ng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/maySGiyQpGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/2xyNeM_vgI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/u28pAIS5xpI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/aHwOw5fi0Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/OTFp5oC9M3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe src="https://www.youtube.com/embed/UhZAgYPXmCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<%- include('footer'); -%>
