</body>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 pr-4">
        <h6>About</h6>
        <p class="text-justify"><i><strong>AgriHelper</strong></i> is your dedicated farming assistant, providing scientifically proven solutions for agricultural challenges. From personalized fertilizer recommendations to crop suggestion and proper guidance from the query discussion, we aim to boost productivity and sustainability.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Services</h6>
        <ul class="footer-links">
          <li><a href="https://agripredicter.streamlit.app/">Fertilizer Prediction</a></li>
          <li><a href="https://agripredicter.streamlit.app/">Crop Prediction</a></li>
          <li><a href="/login">Query Section</a></li>
          <li><a href="/elearning">Elearning</a></li>
          <li><a href="#">Weather Prediction</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; <%= new Date().getFullYear();%> All Rights Reserved by 
     <a href="#">AgriHelper</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>