<%- include('header'); -%>

<div class="body">
    <h2>Plant Health Detection</h2>
    <p>Are You worrying about the plant growth or does not find what has happeed to Your plant. 
        We have the solution.<br>Take a picture of the plant and upload</p><hr><br>
    <div class="form">
        <form action="" name="health">
            <div class="container">
                <!-- <div class="item1">
                    <label>*Instruction to Upload*</label>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div> -->
                <div class="item2">
                    <label for="plantimg">Upload Plant Image</label><br><br>
                    <input type="file">
                </div>
                <div class="item3">
                    <button type="submit">See Result</button>
                </div>
                <div class="result">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('footer'); -%>