<%- include('header'); -%>
    <script src="https://kit.fontawesome.com/3417eee6ab.js" crossorigin="anonymous"></script>

    <!-- ---Home--- -->
    <div class="sec1">
        <div class="homeimg">
            <img class=" mx-auto d-block mt-5 me-5 cropimg" src="Images/Crop.png" alt="Crop.png">
        </div>
        <div class="hometext">
            <h1>Agri Helper</h1>
            <h4>Farming Help Assistant</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit beatae, est voluptatem alias similique
                voluptate
                ab dignissimos hic adipisci veniam.</p>
            <div class="button">
                <a id="login" class="btn" href="/login">Login</a>
                <a id="signup" class="btn" href="/signup">Signup</a>
            </div>
        </div>
    </div>
    <!-- ---Home--- -->

    <!-- ---Our Services--- -->
    <div class="wrapper">
        <h2>Our Services</h2>
        <div class="line">
        </div>
        <div class="cards">
            <a href="https://agripredicter.streamlit.app/" class="link-wrapper single-service">
                <div class="social">
                    <i class="fa fa-seedling"></i>
                </div>
                <span></span>
                <h3>Crop<br>Prediction</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non
                    praesentium
                    corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam
                    consequuntur.
                    Natus.</p>
            </a>
            <a href="https://agripredicter.streamlit.app/" class="link-wrapper single-service">
                <div class="social">
                    <i class="fa-solid fa-fill-drip"></i>
                </div>
                <span></span>
                <h3>Fertilizer<br>Prediction</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non
                    praesentium
                    corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam
                    consequuntur.
                    Natus.</p>
            </a>
            <a href="https://agripredicter.streamlit.app/" class="link-wrapper single-service">
                <div class="social">
                    <i class="fa-solid fa-cloud-sun-rain"></i>
                </div>
                <span></span>
                <h3>Weather<br>Prediction</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non
                    praesentium
                    corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam
                    consequuntur.
                    Natus.</p>
            </a>
            <div class="secrowcard">
                <a href="\login" class="link-wrapper single-service">
                    <div class="social">
                        <i class="fa fa-comments"></i>
                    </div>
                    <span></span>
                    <h3>Query</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non
                        praesentium
                        corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam
                        consequuntur.
                        Natus.</p>
                </a>
                <a href="/elearning" class="link-wrapper single-service">
                    <div class="social">
                        <i class="fa-solid fa-chalkboard"></i>
                    </div>
                    <span></span>
                    <h3>E-Learning</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non
                        praesentium
                        corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam
                        consequuntur.
                        Natus.</p>
                </a>
            </div>
        </div>
    </div>
    <!-- ---Our Services--- -->


    <!-- ----- Contact Us ----- -->
    <div class="container">
        <div class="row">
            <!-- SVG -->
            <div class="col-lg-6 m-4">
                <%- include('svg'); -%>
            </div>
            <!-- Form -->
            <div class="col-lg-6">
                <div class="form">
                    <form action="https://formsubmit.co/surajprakashhh04@gmail.com" method="post">
                        <h1 class="title text-center mb-4">Contact Us</h1>
                        <!-- Name -->
                        <div class="form-group position-relative">
                            <label for="formName" class="d-block">
                                <i class="icon" data-feather="user"></i>
                            </label>
                            <input type="text" id="formName" class="form-control form-control-lg thick mb-3" placeholder="Name">
                        </div>
    
                        <!-- E-mail -->
                        <div class="form-group position-relative">
                            <label for="formEmail" class="d-block">
                                <i class="icon" data-feather="mail"></i>
                            </label>
                            <input type="email" id="formEmail" class="form-control form-control-lg thick mb-3" placeholder="E-mail">
                        </div>
    
                        <!-- Message -->
                        <div class="form-group message">
                            <textarea id="formMessage" class="form-control form-control-lg mb-3" rows="5" placeholder="Message"></textarea>
                        </div>
    
                        <!-- Submit btn -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" tabIndex="-1">Send message</button>
                        </div>
    
                        <input type="hidden" name="_subject" value="New submission!">
                        <input type="hidden" name="_captcha" value="false">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ----- Contact Us ----- -->

    <%- include('footer'); -%>