<%- include('header'); -%>

<!-- ----- Home ----- -->
<div>
  <div class="homeimg">
    <img class=" mx-auto d-block mt-5 me-5 cropimg" src="Images/Crop.png" alt="Crop.png">
  </div>
  <div class="hometext">
    <h1>Agri Helper</h1>
    <h4>Farming Help Assistant</h4>
    <p>AgriHelper is a farming assistant application, providing solutions for agricultural challenges. From personalized fertilizer recommendations to crop suggestion and proper guidance from the query discussion, we aim to boost productivity and sustainability.</p>
      <div class="button">
        <a id="login" class="btn" href="/login">Login</a>
        <a id="signup" class="btn" href="/signup">Signup</a>
      </div>
  </div>
</div>

<!-- ----- Our Services ----- -->
<div class="OurService">
  <h2 class="title">Our Services</h2><br>
  <div class="service">
    <div class="serv">
      <a href="https://agripredicter.streamlit.app/" target="_blank">
        <h5>Fertilizer Suggestion</h5>
        <img src="Images/fertilizer.png" alt="">
      </a>
    </div>
    <div class="serv">
      <a href="/login">
        <img src="Images/question.png" alt="">
        <h5>Ask Your Queries</h5>
      </a>
    </div>
    <div class="serv">
      <a href="https://agripredicter.streamlit.app/" target="_blank">
        <img src="Images/plant.png" alt="">
        <h5>Crop prediction</h5>
      </a>
    </div>
    <div class="serv">
      <a href="http://127.0.0.1:5000" target="_blank">
        <img src="Images/cloudy.png" alt="">
        <h5>Know Your weather</h5>
      </a>
    </div>
    <div class="serv">
      <a href="/shops">
        <img src="Images/bag.png" alt="">
        <h5>Nearby Fertilizer Shops</h5>
      </a>
    </div>
    <div class="serv">
      <a href="/elearning">
        <img src="Images/elearning.png" alt="">
        <h5>E-learning</h5>
      </a>
    </div><br>
  </div>
</div>
<!-- ----- Contact Us ----- -->
<div class="contact">
  <h2 class="title">Contact Us</h2>
  <form action="https://formsubmit.co/surajprakashhh04@gmail.com" method="post">
    <label for="name">Name:</label>
    <input class="input" type="text" name="name" id="name"><br>
    <label for="subject">Subject:</label>
    <input class="input" type="text" name="subject" id="subject"><br>
    <label for="msg">Your Message:</label>
    <textarea class="input" name="message" id="msg" cols="30" rows="10"></textarea>
    <button class="c-btn" type="submit">SUBMIT</button>
    <input type="hidden" name="_subject" value="New submission!">
    <input type="hidden" name="_captcha" value="false">
  </form>
</div>

<%- include('footer'); -%>