/* Crop Page CSS */
body {
    margin: 0;
    background-color: #fff;
}
.navbar {
    background: #a0e418;
}
.nav-link:hover {
    color: #e5f9bd !important;
}
.nav-item {
    padding: 0 10px;
    color: #525050;
    font-weight: 600;
    letter-spacing: 1px;
}

.body{
    color: #525050;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.container{
    width: 70%;
    margin-left: 0;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto;
}
.item1{
    grid-column: 1/5;
}
.result{
    grid-column-start: 1;
    grid-column-end: 5;
}

label{
    font-weight: bold;
}
select{
    width: 80%;
    height: 80%;
}
button{
    color: #fff;
    background-color: #6b980f;
    padding: 5% 8%;
    border-style: none;
}

footer {
    clear: both;
    background-color: #45630a;
    color: #fff;
    text-align: center;
    padding: 1.5% 0 1% 0;
    margin: 0;
}

@media screen and (max-width: 600px){
    .container{
        width: 70%;
        row-gap: 30px;
    }
    .item3{
        grid-column: 1/5;
    }
    .item4{
        grid-column: 1/5;
    }
    .item5{
        grid-column: 1/5;
    }
}