* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #525050;
}

a:hover {
    color: #525050;
}

body {
    margin: 0;
    background-color: #fff;
}

.btn {
    padding: 1% 3%;
    margin-right: 1%;
    margin-top: 2%;
}

.cropimg {
    width: 100%;
    height: auto;
}

.homeimg {
    width: 50%;
    float: right;
}

.hometext {
    width: 40%;
    float: left;
    margin: 12% 0% 0% 10%;
}

.title {
    padding: 1% 0;
    color: #45630a;
}

.sec1 {
    height: 35rem;
}


footer {
    clear: both;
    background-color: #45630a;
    color: #fff;
    text-align: center;
    padding: 1.5% 0 1% 0;
}

/* -------------------------------------------------------------- */
@media only screen and (max-width: 600px) {

    .sec1 {
        height: 55rem;
    }

    .homeimg {
        width: 100%;
        margin: auto;
    }

    .cropimg {
        width: 100%;
        height: auto;
    }

    .hometext {
        width: 100%;
        margin: 10% auto;
        padding: 8%;
        text-align: center;
    }

    .btns {
        margin: 25px 0;
    }

    .btn {
        padding: 1% 4%;
        margin-right: 2%;
    }

    .about {
        margin: 600px auto 50px;
    }

    #farmer {
        width: 100%;
        height: auto;
        margin: 3% auto;
    }
}



/* ---Services--- */

.wrapper {
    width: 100%;
    height: 62rem;
    margin: 5% auto;
    margin-bottom: 10%;
    background-image: url(/Images/homebg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    padding-top: 75px;
}

.link-wrapper {
    text-decoration: none;
    display: block;
}

.wrapper h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin: 0;
}

.cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* New: create a flex container */
    flex-wrap: wrap;
    /* Wrap the cards to a new line if necessary */
    justify-content: center;
    /* Center the cards horizontally */
}

.secrowcard {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the items horizontally */
}

.single-service {
    position: relative;
    width: 31%;
    height: 320px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 10px 10px;
    text-align: center;
}

.firstrowservice{
    height: 340px;
}

.line {
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p {
    color: #262626;
    font-size: 14px;
    padding: 0px 0.8rem;
}

.single-service h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #334908;
}

.social {
    width: 60px;
    height: 60px;
    background: #45630a;
    border-radius: 50%;
    margin: 5% auto;
}

.social i {
    font-size: 30px;
    padding: 15px 10px;
    color: #fff;
}

.single-service:hover {
    box-shadow: 0 30px 35px rgba(99, 127, 44, 0.7);
}

.single-service span {
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(99, 127, 44, 0.7);
    transition: .7s;
    transform: skewX(10deg);
}

.single-service:hover span {
    left: 110%;
}

@media (max-width:1000px) {
    .wrapper {
        width: 100%;
    }

    .single-service {
        width: 95%;
        margin-bottom: 30px;
    }

    .wrapper h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1070px) {
    .wrapper {
        height: 85rem;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        height: 130rem;
    }

    .sec1 {
        height: 30rem;
    }

    .secrowcard {
        margin: 0 0;
    }
    .firstrowservice{
        height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        height: 135rem;
    }
    .sec1 {
        height: 110vh;
    }
    .firstrowservice{
        height: 360px;
    }
}

@media only screen and (max-width: 400px) {
    .sec1 {
        height: 100vh;
    }
    .firstrowservice{
        height: 360px;
    }
}

/* ---Services--- */


/* ---Contacts--- */

.btn.btn-primary {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #93d116, #587d0e, #4b6b0a, #45630a);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #334807;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}

.form{
    text-align: center;
}


.line1 {
    width: 150px;
    height: 3px;
    background: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}

.form-control {
    background-color: #ebf9d0; 
    color: #333; 
    border: 1px solid #c4e582; 
  }
  
  .form-control:focus {
    background-color: #ebf9d0; 
    border: 1px solid #c4e582; 
    outline: none; 
  }

/* Additional CSS to make the layout responsive */
@media (max-width: 767px) {
    .form {
        text-align: center;
    }
}

/* ---Contacts--- */